<launch>



  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/r200_amcl.launch.xml"/>

  <include file="$(arg custom_amcl_launch_file)">

  </include>

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/r200_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

</launch>

